/* Global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 1px;
}

li {list-style-type: none;}

a {text-decoration: none;}

h1 {font-size: 64px;}
h2 {font-size: 56px;}
h3 {font-size: 48px;}
h4 {font-size: 40px;}
h5 {font-size: 32px;}
h6 {font-size: 24px;}



/* Body */
body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Lines */
.line-violet {
    width: 100%;
    position: absolute;
    top: 400px;
    border-top: 2px solid #4003ca;
    z-index: -1;
}

.line-pink {
    border-bottom: 2px solid #ff0076;
    margin: 104px 0 0 16.6%;
}

.line-teal {
    border-bottom: 2px solid #33ffd9;
    /*margin-left: 16.6%;*/
}

/* Navbar */
.header__inside {
    margin: 25px 16.20% 0 16.61%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 50px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: center;
}

.nav__item_1 {
    border-bottom: 4px solid #ff0076;
    width: 117px;
}

.nav__item_2 {
    border-bottom: 4px solid #ff9300;
    width: 123px;
}

.nav__item_3 {
    background-image: linear-gradient(90deg,#4003ca 50%,#33ffd9 50%);
    background-size: 100% 4px; 
    background-position: bottom; 
    background-repeat: no-repeat;
    width: 158px;
    padding-bottom: 9px;
}

/* Home */
.home {
    margin: 48px 16.20% 49px 15%;
    height: 497px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(97.04deg, black 40%, #4003ca 110%);
    box-shadow: -5px 1px 31px #4003CA;
}

.home__images, .home__words {
    width: 50%;
    
}

.home__images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("/img/GridPurple.png"), linear-gradient(to top,  rgba(0, 0, 0, 0) 30%, #33FFD9 110%);
    border-radius: 50px 0 0 50px;
}

.arcade-left {
    margin-right: 31px;
}

.arcade-left, .arcade-right {
    width: 40%;
}

.home__words {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 0 40px 40px 0;
    width: 52.69%;
}

.home hgroup {
    margin-left: 70px;
    margin-right: 108px;
    width: 1000px;
}

.home hgroup>h3 {
    font-size: 2.4vw;
}

.home hgroup>h6 {
    font-size: 1.2vw;
    font-weight: 400;
}

/* Levels */
.level__number {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    font-weight: 400;
    color: #ff0076;
    margin: 65px 0 20px 16%;
}

.level {
    position: relative;
    display: flex;
    justify-content: start;
    height: 390px;
    margin: 0 26.15% 0 15%;
    border-radius: 40px;
}

hgroup {
    width: 409px;
    margin: 0 64px 0 41px;
}

.level__title {
    font-size: 56px;
    font-weight: 700;
    width: 110%;
    margin-top: 52px;
}

.level__paragraph {
    font-weight: 400;
    font-size: 18px;
}

.level__images {
    display: flex;
}

.level__left {
    width: 637px;
}

.level__right {
    display: flex;
    align-items: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-right: 40px;
}

/* Level 1 */
.character__inside {
    margin-right: 56px;
}

.level_1 {
    background: linear-gradient(97.04deg, #000000 38.39%, #2000B4 106.58%);
    box-shadow: -5px 1px 31px #2000B4;
}

.level__right1 {
    background-image: url("/img/GridBlue.png");
}


/* Level 2 */
.learningSkills {
    margin-top: 40px;
}

.level_2 {
    background: linear-gradient(97.04deg, #000000 38.39%, #FF0076 106.58%);
    box-shadow: -5px 1px 31px #FF0076;
}

.level__right2 {
    background-image: url("/img/GridPink.png");
}

/* Level 3 */
.improveSkills {
    margin-top: -20px;
}

.level_3 {
    background: linear-gradient(97.04deg, #000000 38.39%, #33FFD9 106.58%);
    box-shadow: -5px 1px 31px #33FFD9;
}

.level__right3 {
    background-image: url("/img/GridTeal.png");
}

/* Level 4 */
.level_4 {
    background: linear-gradient(274.78deg, #2000B4 0.25%, #000000 69.94%);
    box-shadow: -5px 1px 31px #2000B4;
}

.level__right4 {
    background-image: url("/img/GridBlu.png");
}

.finalRound {
    margin-top: 65px;
}

.terminal__inside {
    margin-right: 23.36px;
}

.terminal__inside>h6 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    margin-top: 10px;
    width: 327.05px;
    line-height: 1.3;
}

.terminal__angry {
    color: #ff0076; 
}

.terminal__defeated {
    color: #33FFD9;
}

/* E-mail */
.email {
    margin: 0 15%;
    display: flex;
    margin-top: 120px;
    width: 1150px;
}

.email>h1 {
    font-size: 100px;
    font-weight: 900;
    color: #ff0076;
}

.email__zone {
    border-left: 2px solid  #ff0076;
    margin-left: 75px;
    padding-left: 100px;
}

.email__form {
    margin-top: 60px;
    display: flex;
}

.email__form>input {
    background: rgba(255, 0, 118, 0.53);
    border: 0;
    outline: 0;
    width: 325px;
    height: 39px;
    margin-right: 25px;
    padding-left: 10px;
    font-size: 18px;
}

.email__form>input::placeholder {
    color: #ff0076;
    font-size: 18px;
}

.email__form>button {
    background-color: #ff0076;
    border: 0;
    width: 143px;
    height: 39px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    margin-top: 96px;
    height: 338px;
}

.footer__left {
    background-color: #33FFD9;
    width: 43.33%;
}

.footer__right {
    background-color: #4003CA;
    width: 56.67%;
}


/* Footer TextLeft */
.footer__textLeft {
    display: flex;
    margin: 65px 0 0 292px;
    width: 374px;
  
}

table {
    width: 100%;
    height: 100%;
}


td, td>h6, table span {
    color: #4003CA;
}

table span {
    font-weight: 700;
}

/* Footer TextRight */
.footer__textRight {
    position: relative;
    margin: 65px 0 0 288px;
    width: 530px;
    height: 200px;
}

.footer__textRight h6 {
    color: #33FFD9;
    width: 500px;
}

.we-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}
