/* Global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 1px;
}

li {list-style-type: none;}

a {text-decoration: none;}

h1 {font-size: 64px;}
h2 {font-size: 56px;}
h3 {font-size: 48px;}
h4 {font-size: 40px;}
h5 {font-size: 32px;}
h6 {font-size: 24px;}
p {font-size: 18px;font-weight: 400;}



/* Body */
body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Lines */
.line-violet {
    width: 1000%;
    position: absolute;
    top: 400px;
    border-top: 2px solid #4003ca;
    z-index: -1;
}

.line-blue, .line-pink, .line-teal {
    position: absolute;
    width: 100%;
    margin-left: 100%;
    top: 50%;
}

.line-blue {
    border-top: 2px solid #2000B4;
}

.line-pink {
    border-top: 2px solid #FF0076;
}

.line-teal {
    border-top: 2px solid #33FFD9;
}

/* Navbar */
.overlay {
    display: none;
}

.header__inside {
    margin: 25px 16.20% 0 16.61%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 50px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: center;
}

.nav__item_1 {
    border-bottom: 4px solid #ff0076;
    width: 117px;
}

.nav__item_2 {
    border-bottom: 4px solid #ff9300;
    width: 123px;
}

.nav__item_3 {
    background-image: linear-gradient(90deg,#4003ca 50%,#33ffd9 50%);
    background-size: 100% 4px; 
    background-position: bottom; 
    background-repeat: no-repeat;
    width: 158px;
    padding-bottom: 9px;
}

/* Home */
.home {
    width: 1321px;
    margin: 48px 16.20% 0 15%;
    height: 437px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(97.04deg, black 40%, #4003ca 110%);
    box-shadow: -5px 1px 31px #4003CA;
}

.home__images, .home__words {
    width: 50%;  
}

.home__images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("/img/GridPurple.png"), linear-gradient(to top,  rgba(0, 0, 0, 0) 30%, #33FFD9 110%);
    border-radius: 50px 0 0 50px;
}

.arcade-left {
    margin-right: 31px;
}

.home__words {
    display: flex;
    align-items: center;
    border-radius: 0 40px 40px 0;
}

.home__words>hgroup {
    margin-left: 70px;
    margin-right: 70px;
}

/* Levels */
.level__number {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    color: #ff0076;
    margin: 65px 0 0 17%;
}

.level {
    width: 1130px;
    position: relative;
    display: flex;
    justify-content: start;
    height: 330px;
    margin: 20px 26.15% 0 15%;
    border-radius: 40px;
}

.level__left>hgroup {
    width: 409px;
    height: 60%;
    margin: 52px 64px 0 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.level__images {
    display: flex;
}

.level__right {
    display: flex;
    align-items: center;
    margin-right: 40px;
    width: 100%;
}

/* Level 1 */
.level_1 {
    background: linear-gradient(97.04deg, #000000 38.39%, #2000B4 106.58%);
    box-shadow: -5px 1px 31px #2000B4;
}

.level__right1 {
    background-image: url("/img/GridBlue.png");
}

.character__inside {
    margin-right: 56px;
}

.character__inside>h6 {
    color: #FF0076;
    font-family: 'Press Start 2P', cursive;
    font-size: 11px;
    font-weight: 400;
    margin: 9px 0 0 9px;
    word-spacing: -4px;
}

.character__inside:last-child {
    margin-right: 0;
}

/* Level 2 */
.level_2 {
    background: linear-gradient(97.04deg, #000000 38.39%, #FF0076 106.58%);
    box-shadow: -5px 1px 31px #FF0076;
}

.level__right2 {
    background-image: url("/img/GridPink.png");
}

/* Level 3 */
.level_3 {
    background: linear-gradient(97.04deg, #000000 38.39%, #33FFD9 106.58%);
    box-shadow: -5px 1px 31px #33FFD9;
}

.level__right3 {
    background-image: url("/img/GridTeal.png");
}

/* Level 4 */
.level_4 {
    background: linear-gradient(274.78deg, #2000B4 0.25%, #000000 69.94%);
    box-shadow: -5px 1px 31px #2000B4;
}

.level__right4 {
    background-image: url("/img/GridBlu.png");
}

.terminal__inside {
    margin-right: 14px;
}

.terminal__inside>h6 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    margin-top: 10px;
    width: 181px;
    line-height: 1.3;
    font-size: 14px;
}

.terminal__angry {
    color: #ff0076; 
}

.terminal__defeated {
    color: #33FFD9;
}

/* E-mail */
.email {
    margin: 0 15%;
    display: flex;
    margin-top: 120px;
    width: 1130px;
    align-items: center;
}

.email>h1 {
    font-size: 100px;
    font-weight: 900;
    color: #ff0076;
}

.email__zone {
    border-left: 2px solid  #ff0076;
    margin-left: 72px;
    padding-left: 100px;
}

.email__form {
    margin-top: 60px;
    display: flex;
}

.email__form>input {
    background: rgba(255, 0, 118, 0.53);
    border: 0;
    outline: 0;
    width: 325px;
    height: 39px;
    margin-right: 25px;
    padding-left: 10px;
    font-size: 18px;
}

.email__form>input::placeholder {
    color: #ff0076;
    font-size: 18px;
}

.email__form>button {
    background-color: #ff0076;
    border: 0;
    width: 143px;
    height: 39px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    margin-top: 96px;
    height: 338px;
    background-color: #4003CA;
}

.footer__left {
    background-color: #33FFD9;
    width: 830px;
}

.footer__right {
    background-color: #4003CA;
    width: 1090px;
}


/* Footer TextLeft */
.footer__textLeft {
    display: flex;
    margin: 65px 0 0 292px;
    width: 374px;
  
}

table {
    width: 100%;
    height: 100%;
}


td, td>h6, table span {
    padding: 5px;
    color: #4003CA;
}

table span {
    font-weight: 700;
}

/* Footer TextRight */
.footer__textRight {
    position: relative;
    margin: 65px 0 0 288px;
    width: 530px;
    height: 200px;
}

.footer__textRight h6 {
    color: #33FFD9;
    width: 500px;
}

.we-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media only screen and (max-width: 1620px) {

/* Navbar */
.header__inside {
    width: 990px;
}

/* Home */
.home {
    width: 1021px;
}

.arcade-right {
    display: none;
}

.arcade-left {
    margin-right: 0;
}

/* Levels */
.level {
    width: 915px;
}

.level__left>hgroup {
    width: 309px;
    margin: 52px 64px 0 41px;
}

.level__title {
    font-size: 40px;
}

.level__paragraph {
    font-size: 16px;
}

/* Level 1 */
.character__inside {
    margin-right: 26px;
}

.character__inside>img {
    width: 100%;
}

.character__inside>h6 {
    width: 100%;
    font-size: 9px;
}

/* Level 4 */
.terminal__inside>img {
    width: 100%;
}

.terminal__inside>h6 {
    width: 150px;
    font-size: 12px;
}

/* E-mail */
.email {
    width: 808px;
}

.email>h1 {
    font-size: 74px;
}

.email__zone>h3 {
    font-size: 38px;
}

.email__form>input {
    width: 275px;
}

.email__form>button {
    width: 100px;
}

/* Footer */
.footer__left {
    width: 830px;
}

.footer__right {
    width: 1090px;
}

/* Footer TextLeft */
.footer__textLeft {
    margin-left: 200px;  
}

.footer__textRight {
    margin-left: 88px;
    width: 530px;
    height: 200px;
}
}

@media only screen and (max-width: 1366px) {


/* Navbar */
.header__inside {
    width: 840px;
}

/* Home */
.home {
    width: 870px;
}

.home__words>hgroup {
    margin-left: 30px;
    margin-right: 10px;
}

.home__words p {
    padding-top: 30px;
}

/* Levels */
.level {
    width: 770px;
}

.level__left>hgroup {
    width: 280px;  
    margin: 52px 9px 0 21px;
}

.level__title {
    font-size: 35px;
}

/* Level 2,3,4 */
.level__images>img, .terminal__inside>img, .terminal__inside>h6 {
    width: 100%;
}

/* Level 4 */
.terminal__inside>h6 {
    font-size: 6px;
}

/* E-mail */
.email {
    width: 768px;
}

.email>h1 {
    font-size: 72px;
}

.email__zone {
    margin-left: 40px;
    padding-left: 40px;
}

.email__zone>h3 {
    padding-left: 0;
    font-size: 30px;
}

.email__form>input {
    width: 235px;
}

.email__form>button {
    width: 83px;
}

/* Footer */
.footer__left {
    min-width: 430px;
}

.footer__right {
    min-width: 790px;
}

/* Footer TextLeft */
.footer__textLeft {
    margin-left: 60px;  
}

.footer__textRight {
    margin-left: 60px;
    width: 300px;
}

.footer__textRight h6 {
    width: 300px;
}
}

@media only screen and (max-width: 768px) {
/* Lines */
.line-violet, .line-blue, .line-pink, .line-teal {
    display: none;
}

/* Nav */
.header__inside {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    min-width: 329px;
    width: 55%;
    position: relative;
}

.nav__list {
    display: none;
}

.hamburger {
    cursor: pointer;
}

.hamburger__line1 {
    width: 68px;
    height: 10px;
    background-color: #FF0076;
}

.hamburger__line2 {
    width: 68px;
    height: 10px;
    background-color: #FF8400;
    margin-top: 8px;
}

.hamburger__line3 {
    width: 68px;
    height: 10px;
    background-image: linear-gradient(90deg,#4003ca 50%,#33ffd9 50%);
    margin-top: 8px;
}

.close-links {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 50px;
    text-decoration: none;
    color: white;
    z-index: 100;
  }

.overlay {
    display: block;
    position: fixed;
    height: 0;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.96);
    transition: .5s;
    overflow: hidden;
}

.overlay-links {
    position: relative;
    top: 20%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-links a {
    margin: 20px;
    font-size: 28px;
}

.nav__item_1, .nav__item_2, .nav__item_3 {
    width: 60%;
    text-align: center;
}

/* Home */
.home {
    flex-direction: column-reverse;
    min-width: 329px;
    width: 55%;
    min-height: 745px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(-60deg, black 40%, #4003ca 100%);
}

.home__images, .home__words {
    width: 100%;  
}

.home__words>hgroup {
    margin: 25px 30px;
}

.home__images {
    border-radius: 0 0 40px 40px;
    max-height: 442px;
}

/* Levels */
.level__number {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.level {
    flex-direction: column;
    justify-content: space-around;
    min-width: 329px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.level__left {
    margin-top: 25px;
}

.level__left>hgroup {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.level__right {
    margin-right: 0;
}

.level__title, .level__paragraph {
    width: 90%;
}

.level__title {
    font-size: 48px;
}

.level__paragraph {
    font-size: 18px;
    margin-top: 20px;
}

.level__right1, .level__right2, .level__right3, .level__right4 {
    background-image: none;
}

/* Level 1 */
.level_1 {
    height: 560px;
    background: linear-gradient(114deg, #000000 38.39%, #2000B4 106.58%);

}

/* Level 2 */
.level_2 {
    height: 472px;
}

.level_2 .level__images {
    width: 70%;
    max-width: 283.13px;
    max-height: 166.83px;
    margin-left: 20px;
}

/* Level 3 */
.level_3 {
    height: 472px;
}

.level_3 hgroup {
    margin-top: 40px;
}

/* Level 4 */
.level_4 {
    height: 521px;
}

.level_4 .level__images {
    margin-left: 15px;
}

/* Email */
.email {
    flex-direction: column;
    justify-content: space-around;
    min-width: 329px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}

.email__zone {
    border: none;
    padding: 0;
    margin: 0;
}

.email__zone>h3 {
    display: none;
}

/* Footer */
footer {
    flex-direction: column;
    min-width: 329px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer__left, .footer__right {
    min-height: 306px;
    display: flex;
    justify-content: center;
    min-width: 329px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer__textLeft, .footer__textRight {
    margin: 20px auto;
}

.footer__textLeft {
    min-width: 329px;
}

.footer__textRight {
    min-width: 329px;
    display: flex;
    justify-content: center;
}
}